opencv-python
moviepy
SpeechRecognition
librosa
transformers
torch 
torchvision 
torchaudio
tensorflow
pytorchvideo
mmcv 
mmcls



decorator 
imageio 
imageio[ffmpeg] 
pillow 
numpy 
proglog 
python-dotenv

